﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<OneNoteNotebooks.Core.OneNote.Notebook>>

@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Notebooks";
}

<h1>OneNote Notebooks</h1>

<table style="border: 1px solid black;">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Created by</th>
        <th>Last modified by</th>
        <th>Created time</th>
        <th>Last modified time</th>
    </tr>

    @foreach (var notebook in Model)
    {
        <tr>
            <td>@notebook.Id</td>
            <td>@notebook.Name</td>
            <td>@notebook.CreatedBy</td>
            <td>@notebook.LastModifiedBy</td>
            <td>@notebook.CreatedTime</td>
            <td>@notebook.LastModifiedTime</td>
        </tr>
    }
</table>
