﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }

        td, th {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<div>
    @if (Context.CurrentUser != null)
    {
        <a href="~/account/logout">Logout</a>
    }
</div>

<div>
    @RenderBody()
</div>

</body>
</html>
